activations
venv
__pycache__
.pytest_cache
.ipynb_checkpoints
.env
notebooks/scratch.ipynb
.vscode
finetuned_models
sync_model.sh
logs
.DS_Store
.hypothesis
*/.DS_Store

analysis
datasets
normalized_vectors
results
vectors
grades

