torch==2.7.0
torchvision==0.22.0
transformers==4.57.0
datasets==3.6.0
numpy
scipy
pandas
openpyxl
scikit-learn
matplotlib
seaborn
tqdm
Pillow

huggingface-hub
tokenizers
safetensors

openai==2.7.1
jupyter
ipython
pytest

decord
einops
modelscope
pycocotools
timm

aiohttp
aiosignal
annotated-types
anyio
asttokens
async-timeout
attrs
backcall
certifi
charset-normalizer
cmake
comm
contourpy
cycler
debugpy
decorator
dill
distro
exceptiongroup
executing
filelock
fonttools
frozenlist
fsspec
h11
httpcore
httpx
idna
importlib-metadata
importlib-resources
iniconfig
ipykernel
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lit
MarkupSafe
matplotlib-inline
mpmath
multidict
multiprocess
nest-asyncio
networkx
packaging
parso
pexpect
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
regex
requests
six
sniffio
stack-data
sympy
threadpoolctl
tomli
tornado
tqdm
traitlets
triton
typing_extensions
tzdata
urllib3
wcwidth
xxhash
yarl
zipp